* {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    /*font-family: "Sen", sans-serif;
    border: solid 1px black;*/
    font-family: "Montserrat", sans-serif;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.549);*/
}

body {
    margin: 0;
}

.header {
    background-color: #fff3f3;
    background-image: url(Images/headerBack1.JPG);
    background-repeat: no-repeat;
    background-size: 100%;
    height: calc(var(--headerWidth));
}

.brand {
    margin: 0vw 35vw;
    margin-bottom: 2vw;
    font-family: "Sen", sans-serif;
    font-size: 4vw;
    font-weight: 500;
    color: white;
    margin-top: 2vw;
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, 0.277);
}

.navbar {
    margin-bottom: 6vw;
}

.navpages {
    display: flex;
    justify-content: space-around;
}

.navLink {
    color: white;
    background-color: rgba(0, 0, 0, 0.277);
    font-size: 1.8vw;
    width: 15vw;
    text-align: center;
    padding: 6px 20px;
    border-radius: 8px;
}

.navLink:hover {
    background-color: rgba(255, 255, 255, 0.458);
    color: black;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

header>h1 {
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 6vw;
    font-weight: 500;
    margin: 0;
    margin-left: 5vw;
    letter-spacing: 10px;
}

header>p {
    color: white;
    font-size: 1.8vw;
    font-weight: 800;
    margin-top: 4vw;
    margin-bottom: 2vw;
    margin-left: 5vw;
}

button {
    text-decoration: none;
    font-size: 1.8vw;
    border-radius: 15px;
}

.headerButton {
    background-color: rgba(255, 255, 255, 0.745);
    margin-left: 5vw;
    border: none;
    padding: 10px 20px;
}

.headerButton:hover {
    background-color: rgba(255, 255, 255, 0.882);
}

main>.pinkBanner {
    display: flex;
    flex-direction: column;
    background-color: #fff3f3;
    align-items: center;
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-size: 1.8vw;
    margin: 5px;
}

main>div>p {
    font-size: 1.5vw;
    margin: 0;
}

.bannerButton1 {
    background-color: white;
    margin: 2vw;
    padding: 5px 50px;
    border: 1px solid rgb(255, 170, 184);
}

.bannerButton1:hover {
    background-color: rgb(255, 144, 162);
    color: white;
}

.whiteBanner {
    display: flex;
    padding: 4.5vw;
    gap: 4vw;
}

.homeBride {
    width: 18vw;
}

.whiteBannerChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bannerButton2 {
    background-color: white;
    margin: 2vw;
    padding: 5px 50px;
    border: 1px solid rgb(255, 170, 184);
}

.bannerButton2:hover {
    background-color: rgb(255, 144, 162);
    color: white;
}

.testimonios {
    background-color: #fff3f3;
    text-align: center;
    padding: 4vw;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    gap: 2vw;
    font-size: 2vw;
}

.reviewsLink {
    width: 30vw;
    height: 30vw;
    background-color: gray;
}

.footer {
    background-color: #fff3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
}

.footer>div{
    width: 30vw;
}

.footerBrand {
    font-size: 3vw;
    font-weight: 800;
    text-align: center;
}

.footerAgenda{
    font-size: 2vw;
    text-align: center;
}

.footerContact>p {
    padding-left: 7vw;
}